.primary-button {
    background-color: var(--color-second);
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    color: var(--color-first);
    border-radius: 4px;
}

.primary-button.-dark {
    color: var(--color-base);
    font-family: 'Bitter', serif;
    font-weight: bold;
}