.simple-action {
    color: var(--color-second);
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

.simple-action.-light {
    font-family: 'Bitter', serif;
    color: var(--color-base-light);
}